<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="card shadow-sm" style="width:400px">
    <div class="card-header bg-primary text-white text-center py-4">
      <div class="fs-1">🐾</div>
      <h4 class="mb-0">VetSystem</h4>
      <small>Clínica Veterinaria</small>
    </div>
    <div class="card-body p-4">
      <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
      <form [formGroup]="form" (ngSubmit)="ingresar()">
        <div class="mb-3">
          <label class="form-label">Correo electrónico</label>
          <input appAutoFocus formControlName="email" type="email" class="form-control"
                 [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
                 placeholder="veterinario@clinica.com">
          <div class="invalid-feedback">Correo válido requerido.</div>
        </div>
        <div class="mb-4">
          <label class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control"
                 [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
                 placeholder="••••••">
          <div class="invalid-feedback">Mínimo 6 caracteres.</div>
        </div>
        <button type="submit" class="btn btn-primary w-100">
          <i class="bi bi-box-arrow-in-right"></i> Ingresar
        </button>
      </form>
    </div>
    <div class="card-footer text-center text-muted small">
      Ingresa con cualquier email y contraseña válidos
    </div>
  </div>
</div>
